body {
    font-family: 'Courier New', Courier, monospace;
    background-color: whitesmoke;
}

.select {
    font-size: 40px;
}

.items li {
    display: block;
    width: 400px;
    margin: 2px 0;
    text-align: center;
    padding: 20px;
    border: 2px solid black;
    background-color: lightgray;
}

.items li:hover {
    background-color: white;
    cursor: pointer;
}

ul {
    padding-left: 0px;
    list-style-type: disc;
}
 
a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#title {
    font-size: 60px;
    font-weight: bold;
    text-decoration: underline;
}